/CREDITS
/INSTALL.md
/LICENSE.md
/Makefile
/README.md
/Version
/WHATSNEW
/bin/
/doc/
/doxy.cfg
/examples/
/images/
/out/
/python/
/setenv
/showcases/
/templates/
/tests/
/tutorials/
.cproject
.gdbinit.py
.nedexclusions
.nedfolders
.oppbuildspec
.oppfeatures
.oppfeaturestate
.project
.settings/language.settings.xml
.settings/org.eclipse.core.resources.prefs
